.buttons {
    text-align: center;
    position: absolute;
    top: 10vh;
    left: 5vw;
    right: 5vw;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    margin-bottom: 10px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.section ul li a {
    position: relative;
    display: block;
}
