hr{
    max-width: 80vw;
    color: white;
    box-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

.reference {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.reference img {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
}

.buttons {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttons ul {
    list-style: none;
    padding: 0;
}

.buttons ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.buttons ul li a {
    position: relative;
    display: block;
}

.Colour {
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    text-align: right;
    padding: 5px;
    font-size: 2.5vh;
}

.Colour .Purple{
    color: #483E48;
}

.Colour .Green{
    color: #70FD6E;
}

.Goob{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
}

.Goob img{
    max-width: 40vw;
    max-height: 80vh;
    width: auto;
    height: auto;
}

.Creature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
}

.Creature img{
    max-width: 30vw;
    max-height: Auto;
    width: auto;
    height: auto;
}

.Floofs {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}

.floof-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 100vw;
    padding: 5px;
}

.Floofs img {
    max-width: 100%;
    height: auto;
}

  .Head {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}

.head-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    max-width: 30vw;
    padding: 5px;
}

.Head img {
    max-width: 100%;
    height: auto;
}

.Maw {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}

.maw-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    max-width: 100vw;
    padding: 5px;
}

.Maw img {
    max-width: 100%;
    height: auto;
}

.Eyes {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}

.Tail {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}

.Tail img {
    max-width: 40%;
    height: auto;
}

.Extra {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
    padding: 5px;
    font-size: 2.5vh;
    max-width: 100vw;
}