.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
  }
  
  .buttons ul {
    list-style: none;
    padding: 0;
  }
  
  .buttons ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .buttons ul li a {
    display: block;
    padding: 10px 20px;
  }

.pfp {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.content{
    color: white;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

h1 {
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10vh;
    position: absolute;
    text-shadow: 0 0 10px rgba(204, 0, 255, 0.5);
}

.pfp img {
    width: 10vh;
    height: auto;
}

.text-feild{

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0); /* Remove the vertical translation */
    width: 50%;
    min-height: auto; /* Use min-height to ensure the box is at least as tall as the content */
    border: 2px solid rgba(204, 0, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.text {
    font-size: 16px;
    word-wrap: break-word;
}